RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://cielspada.net/$1 [R=301,L]

<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE

  SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|ico)$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI _\.utxt$ no-gzip
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On

  ExpiresByType text/css "access plus 1 day"
  ExpiresByType text/js "access plus 1 day"
  ExpiresByType text/javascript "access plus 1 day"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 day"
</IfModule>